/*! GLOBAL CSS ATTRIBUTES */
body {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        Fira Sans,
        Droid Sans,
        Helvetica Neue,
        sans-serif;
    font-weight: 300;
    font-style: normal;
    box-sizing: border-box;
    overflow-y: scroll;

}

a {
    background: transparent;
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

a:visited {
    color: black;
}

a:active {
    color: yellow;
}

button {
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    width: 100%;
    margin: 0em;
    font: 400 11px system-ui;
    font-family: inherit !important;
    font-size: inherit !important;
    background: #fff !important;
    color: #000 !important;
    background-image: none !important;
    border: 1px solid #000 !important;
    border-radius: 0 !important;
    font: inherit;
    margin: 0;
    padding: .5em;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;

    border-width: 1px;
    border-style: solid;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-image: initial;
}

.black {
    background-color: #000;
    color: #fff;
}

.white {
    background-color: #fff;
    color: #000;
}

.black,
.white {
    padding: 2em 10%;
}

div {
    display: block;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Bison, sans-serif;
    line-height: 1.2 !important;
    letter-spacing: .03em;
}

h2 {
    font-size: 1.62671rem;
}

h3 {
    font-size: 1.38316rem;
}

h2,
h3 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    color: inherit;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
}

img {
    max-width: 100%;
    padding: 0;
    margin: 0 0 1em;
    border-style: none;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: -webkit-transform .5s, -webkit-filter .5s ease-in-out;
    transition: -webkit-transform .5s, -webkit-filter .5s ease-in-out;
    transition: transform .5s, filter .5s ease-in-out;
    transition: transform .5s, filter .5s ease-in-out, -webkit-transform .5s, -webkit-filter .5s ease-in-out;
}

p {
    line-height: 1.5em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 0;
    margin: 0 0 1em;

}

::selection {
    background-color: #51cbee;
}

/*! HEADER */
.header {
    margin: 0 auto;
    width: 100%;
}

.hdsplashimage {
    width: 100%;
    box-sizing: border-box;
}

.hdsplashtext {
    padding: 100px;
    margin: 0px;
    text-align: left;
    font-size: 3em;
    text-decoration: none;
    background-image: url(https://www.barcelonacodeschool.com/files/pics/cur_files/squares.svg);
}


/*! NAV BAR ATTRIBUTES */
.nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
}

.navbarDesk {
    background: black;
    margin: 0;
    padding: 1% 10%;
    color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbarDesk p {
    margin: 0;
}


.burger {
    font-size: 24px;
    margin: 5px;
    padding: 5px;
}


.navbarHam {
    position: relative;
    display: inline-block;
}

.navbarHam-content {
    background: black;
    display: none;
    position: absolute;
    left: 0;
    z-index: 1s;
    font-size: 24px;
    width: 30vw;
    color: white;
}

.navbarHam:hover .navbarHam-content {
    display: block;
    /* animation: popup .5s ease-in-out both; */
}

.navbarHam:hover .navbarHam-content a {
    color: white;
}

.navbarHam:hover .navbarHam-content a:visited {
    color: white;
}


.navbarHam span {
    transition: transform .2s;
    -webkit-transition: -webkit-transform .2s;
    display: block;
    transform: rotate(90deg);
}

.navbarHam:hover span {
    transition: transform .2s;
    -webkit-transition: -webkit-transform .2s;
    display: inline-block;
    transform: rotate(180deg);
}


/*! SECTION 1: CONTACT + VIDEO */

.highlighter {
    background-image: -webkit-gradient(linear, left top, right top, from(#ff0), to(#ff0));
    background-image: linear-gradient(90deg, #ff0 0, #ff0);
}

.social {
    text-align: left;
    display: flex;
    justify-content: space-between;
}

p.social {
    margin: 1em 1em 1em 0;
    font-size: 80%;
}

p.social a {
    margin-right: 1em;
    word-break: break-word;
    display: inline;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* padding-top: 30px; */
    height: 0;
    overflow: hidden;
    box-shadow: -3px 3px #000;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*! SECTION 2: WHAT DO YOU WANT TO BE  */



.heavy {
    font-weight: bold;
}

.wannabe a {
    color: white;
}

.wannabe a:visited {
    color: white;
}

.wannabe a:active {
    color: yellow;
}


/*! SECTION 3: CHOOSE YOUR WAY (COURSES)*/
/* uses grid-1-1 from section 1*/

.chooseBoxes {
    border: 1px solid grey;
    margin-bottom: 1em;
    text-align: left;
    padding: 1em;
    box-shadow: -3px 3px #000;
}

.chooseBoxes h3 {
    border-bottom: 1px solid grey;
    grid-column: 1/-1;
}

/*! SECTION 4: HOW ARE WE DIFFERENT */
/* uses grid-1-1-1-1 from section 2*/

/*! SECTION 5: PARTNERS */

.hiringpartners {
    vertical-align: middle;
    margin-right: 2%;
    width: 10%;
}

/*! SECTION 6: FOOTER  */

.footer {
    font-size: .8em;
    color: white;
}

.footer a {
    color: white;
}

.footer a:visited {
    color: white;
}

.footer a:active {
    color: yellow;
}

.copyrights {
    margin-top: 4em;
}

#mybutton {
    background-color: #000000;
    padding: 15px 15px;
    border-radius: 10px;
    border-color: #46b8da;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#mybutton img {
    margin: 0;
}


/*! MEDIA QUERIES */


/*! for screen bigger than 901px == FULL DESKTOP SITE */
@media all and (min-width: 901px) {

    /*? CONTACT+VIDEO & CHOOSE YOUR WAYGRID */
    .grid-1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        -ms-grid-columns: 1fr 1fr;
        grid-gap: 1em;
    }

    /*? FOOTER GRID */
    .grid-1-1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
    }

    /*? WHAT DO YOU WANT TO BE & HOW ARE WE DIFFERENT GRID */
    .grid-1-1-1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1em;
    }

    .navbarHam {
        display: none;
    }
}

/*! for screen smaller than 900px == CONTACT AND CHOOSE YOUR WAY GET SMALLER*/
@media all and (max-width: 900px) {

    /*? CONTACT+VIDEO & CHOOSE YOUR WAYGRID */
    .grid-1-1 {
        display: grid;
        grid-template-columns: 1fr;
        -ms-grid-columns: 1fr;
        grid-gap: 1em;
    }

    /*? FOOTER GRID */
    .grid-1-1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
    }

    /*? WHAT DO YOU WANT TO BE & HOW ARE WE DIFFERENT GRID */
    .grid-1-1-1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        -ms-grid-columns: 1fr 1fr;
        grid-gap: 1em;
    }

    .navbarHam {
        display: none;
    }
}

/*! for screen less than 800px == FOOTER GRID GETS SMALLER */
@media all and (max-width: 800px) {

    /*? CONTACT+VIDEO & CHOOSE YOUR WAY GRID */
    .grid-1-1 {
        display: grid;
        grid-template-columns: 1fr;
        -ms-grid-columns: 1fr;
        grid-gap: 1em;
    }

    /*? FOOTER GRID */
    .grid-1-1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        -ms-grid-columns: 1fr 1fr;
        grid-gap: 1em;
    }

    /*? WHAT DO YOU WANT TO BE & HOW ARE WE DIFFERENT GRID */
    .grid-1-1-1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        -ms-grid-columns: 1fr 1fr;
        grid-gap: 1em;
    }

    .navbarHam {
        display: none;
    }
}

/*! for screen less than 775px == WHAT DO YOU WANT/HOW ARE WE DIFFERENT -> ONE COLUMN*/
@media all and (max-width: 775px) {

    /*? CONTACT+VIDEO & CHOOSE YOUR WAY GRID */
    .grid-1-1 {
        display: grid;
        grid-template-columns: 1fr;
        -ms-grid-columns: 1fr;
        grid-gap: 1em;
    }

    /*? FOOTER GRID */
    .grid-1-1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        -ms-grid-columns: 1fr 1fr;
        grid-gap: 1em;
    }

    /*? WHAT DO YOU WANT TO BE & HOW ARE WE DIFFERENT GRID */
    .grid-1-1-1-1 {
        display: grid;
        grid-template-columns: 1fr;
        -ms-grid-columns: 1fr;
        grid-gap: 1em;
    }

    .navbarHam {
        display: none;
    }
}

/*! for screen less than 634px == ALL GRIDS AT 1FR*/
@media all and (max-width: 634px) {

    /*? CONTACT+VIDEO & CHOOSE YOUR WAY GRID */
    .grid-1-1 {
        display: grid;
        grid-template-columns: 1fr;
        -ms-grid-columns: 1fr;
        grid-gap: 1em;
    }

    /*? FOOTER GRID */
    .grid-1-1-1 {
        display: grid;
        grid-template-columns: 1fr;
        -ms-grid-columns: 1fr;
        grid-gap: 1em;
    }


    /*? WHAT DO YOU WANT TO BE & HOW ARE WE DIFFERENT GRID */
    .grid-1-1-1-1 {
        display: grid;
        grid-template-columns: 1fr;
        -ms-grid-columns: 1fr;
        grid-gap: 1em;
    }

    .navbarHam {
        position: relative;
        display: inline-block;
    }

    .navbarDesk {
        display: none;
    }

}

/*! for screen less than 399px == FIX IPHONE 5 TEXT ISSUES*/
@media all and (max-width: 399px) {

    /*? CONTACT+VIDEO & CHOOSE YOUR WAY GRID */
    .grid-1-1 {
        display: grid;
        grid-template-columns: 1fr;
        -ms-grid-columns: 1fr;
        grid-gap: 1em;
    }

    /*? FOOTER GRID */
    .grid-1-1-1 {
        display: grid;
        grid-template-columns: 1fr;
        -ms-grid-columns: 1fr;
        grid-gap: 1em;
    }

    /*? WHAT DO YOU WANT TO BE & HOW ARE WE DIFFERENT GRID */
    .grid-1-1-1-1 {
        display: grid;
        grid-template-columns: 1fr;
        -ms-grid-columns: 1fr;
        grid-gap: 1em;
    }

    .navbarHam {
        display: block;
    }

    .navbarDesk {
        display: none;
    }

    p.social {
        font-size: 60%;
        margin: 0;
    }

    p.social a {
        margin-right: 1em;
        word-break: break-word;
        display: inline;
    }

    .social {
        text-align: left;
        justify-content: space-between;
    }

    .navbarHam {
        position: relative;
        display: inline-block;
    }

    .navbarDesk {
        display: none;
    }
}